:global(
  .content-wrapper-appear {
    opacity: 0.01;
  }

  .content-wrapper-appear.content-wrapper-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
)

.block {
  display: flex;
  justify-content: space-between;
}

.left, .right {
  width: 28%;
}

.center {
  width: 40%;
}
