.block {
  text-align: center;
  position: relative;
}

.picto {
  margin-left: 30px;
}

.text {
  composes: small from '../../../composes/fonts.css';
  position: relative;
  top: -11px;
  padding-left: 6px;
}