.block {
  padding: 10px;
}

.header {
  composes: headerMedium from '../../../composes/fonts.css';
  margin-bottom: 10px;
}

.newsItem {
  margin-bottom: 10px;
}

.dateText {
  composes: normal from '../../../composes/fonts.css';
  font-weight: bold;
}

.newsText {
  composes: normal from '../../../composes/fonts.css';
}