.block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftBlock,
.middleBlock,
.rightBlock {
  min-height: 100px;
}

.leftBlock {
  width: 20%;
  background: lightgrey;
}

.middleBlock {
  width: 56%;
}

.rightBlock {
  width: 20%;
  background: lightgrey;
}
