.header {
  composes: headerBig from '../../composes/fonts.css';
  text-align: center;
  padding: 20px 0;
}

.subHeader {
  composes: headerSmall from '../../composes/fonts.css';
  text-align: center;
  padding-bottom: 10px;
}

.years {
  margin-left: 10px;
}

.content {
  padding: 10px 100px;
  background-color: lightgrey;
}
