.newsItemWrap {
  margin-top: 24px;
}

.headerContainer {
  position: relative;
  margin-bottom: 6px;
}

.header {
  composes: headerBig from '../../composes/fonts.css';
}

.subHeader {
  composes: small from '../../composes/fonts.css';
  position: absolute;
  right: 0;
}

.article {
  composes: normal from '../../composes/fonts.css';
}