.block {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 400px;
}

.emptyToursPage {
  margin-top: 100px;
  text-align: center;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
