.blockHeader {
  composes: blockHeader from '../../composes/blocks.css';
}

.textContent {
  composes: content from '../../composes/blocks.css';
}

.photoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo {
  width: 25%;
  height: 25%;
}