.albumsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.albumWrapper {
  width: 30%;
  margin-bottom: 20px;
}

.album {
  width: 100%;
}

.albumName {
  text-align: center;
}
