.tabMenu {
  composes: headerBig from '../../../composes/fonts.css';
  padding: 10px 20px;
  display: inline-block;
  font-weight: bold;
}

.tabMenu:hover::first-letter {
  font-size: 24pt;
  color: red;
}

.tabMenu:hover {
  padding: 0 17px;
}