.tabMenu {
  composes: headerBig from '../../../composes/fonts.css';
  padding: 10px 20px;
  display: inline-block;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #b5155e;
}

.active {
  color: #b5155e;
}