.block {
  display: flex;
  flex-wrap: wrap;
}

.half {
  width: 50%;
}

.rightHalf {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.cell {
  float: left;
  width: 50%;
}

.clearfix::after {
  content: ' ';
  clear: both;
  display: table;
}